# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
services/api/api.exe

# Dependencies
/node_modules

# Angular
/.angular

# Test output
/coverage
__screenshots__/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.swo

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
.history/*

# Miscellaneous
/connect.lock
/libpeerconnection.log
testem.log
/typings

# Operating systems
.DS_Store
Thumbs.db
